<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone OR ContentManagement OR ContentDelivery OR Processing OR Reporting">
    <languageFallbackFieldValues>
      <patch:attribute name="defaultProvider">support</patch:attribute>
      <providers>
        <add name="support" type="Sitecore.Support.Data.LanguageFallback.LanguageFallbackFieldValuesProvider, Sitecore.Support.325588" />
      </providers>
    </languageFallbackFieldValues>
  </sitecore>
</configuration>